{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/quoted" method="post">
        <div class="form-group  col-md-11">
            <label for="symbol">Symbol</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input autocomplete="off" autofocus class="form-control" name="symbol"  type="text" value="{{stock['symbol']}}">
        </div>
        <div class="form-group  col-md-11">
            <label for="name">Description</label>
            <input autocomplete="off" autofocus class="form-control" name="name"  type="text" value="{{stock['name']}}">
        </div>
        <div class="form-group  col-md-11">
            <label for="price">Price</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input autocomplete="off" autofocus class="form-control" name="price"  type="text" value="{{stock['price']}}">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
{% endblock %}
